<!------------------------- Nuestros Clientes ------------------------------------------------>
<div class="clientes">
    <h2 class="clientes-1 fw-bold">NUESTROS MEJORES CLIENTES</h2>
</div>
<div class="grid-layout">
    <div class="cliente IPN">
        <!-- politecnico-->
        <img src="/src/components/component-venta/img-clientes/IPN.png" />
    </div>
    <div class="cliente fundacion">
        <!-- fundacion politecnico-->
        <img src="/src/components/component-venta/img-clientes/Fundacion-Politecnico.png" />
    </div>
    <div class="cliente lukoil">
        <!-- lukoil -->
        <img src="/src/components/component-venta/img-clientes/LUKOIL.png" />
    </div>
    <div class="cliente eon">
        <!-- eon reality -->
        <img src="/src/components/component-venta/img-clientes/EON-reality.png" />
    </div>
    <div class="cliente intercon">
        <!-- inter-con -->
        <img src="/src/components/component-venta/img-clientes/INTER-CON.png" />
    </div>
    <div class="cliente gtm">
        <!-- grupo torre medica -->
        <img src="/src/components/component-venta/img-clientes/Grupo-torre-medica.png" />
    </div>
    <div class="cliente evm">
        <!-- evm energia -->
        <img src="/src/components/component-venta/img-clientes/EVM.png" />
    </div>
    <div class="cliente matilda">
        <!-- mattilda -->
        <img src="/src/components/component-venta/img-clientes/Mattilda.png" />
    </div>
    <div class="cliente pisa">
        <!-- pisa seguridad -->
        <img src="/src/components/component-venta/img-clientes/Pisa-seguridad.png" />
    </div>
    <div class="cliente spacenet">
        <!-- spacenet -->
        <img src="/src/components/component-venta/img-clientes/SPACENET.png" />
    </div>
    <div class="cliente kolors">
        <!-- kolors -->
        <img src="/src/components/component-venta/img-clientes/Kolors.png" />
    </div>
    <div class="cliente Labotec">
        <img src="/src/components/component-venta/img-clientes/Labotec.png" />
    </div>
    <div class="cliente Asesoria">
        <img src="/src/components/component-venta/img-clientes/Asesoria.png" />
    </div>
    <div class="cliente RANDOM">
        <!-- RANDOM -->
        <img src="/src/components/component-venta/img-clientes/incognita.png" />
    </div>
</div>
<style>
    *{
        font-family: montserrat;
    }
    .grid-layout {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 6%;
        background-color: darkblue;
        border-radius: 0.7em;
    }
    .clientes {
        flex-grow: 1;

    }
    .grid-layout img:hover {
        transform: scale(1.2);
        background-color: #000000;
    }
    .clientes h2 {
        /* color: #2486df;*/
        color: blue;
        font-weight: bold;
        text-align: center;
    }
    img {
        width: 250px;
        height: 250px;
        border-radius: 13px;
    }
</style>
