<div class="marcas">
    <h2 class="marcas-1">CONTAMOS CON LAS MEJORES MARCAS DEL MERCADO</h2>
</div>
<div class="grid-layout">
    <div class="caja caja-m1">
        <!--NUMERO 1 DELL -->
        <a href="/DELL/marcas.html">
            <img src="/src/components/component-venta/img-marcas/Dell.png" alt="Dell" />
        </a>
    </div>
    <div class="caja caja-m2">
        <!--NUMERO 2 APPLE -->
        <a href="/APPLE/apple.html">
            <img src="/src/components/component-venta/img-marcas/Apple.png" alt="Apple" />
        </a>
    </div>
    <div class="caja caja-m3">
        <!--NUMERO 3 HP -->
        <a href="/HP/hp.html">
            <img src="/src/components/component-venta/img-marcas/HP.png" alt="HP" />
        </a>
    </div>
    <div class="caja caja-m4">
        <!--NUMERO 4 EPSON -->
        <img src="/src/components/component-venta/img-marcas/Epson.png" alt="Epson" />
    </div>
    <div class="caja caja-m5">
        <!--NUMERO 5 ASUS --->
        <a href="/ASUS/asus.html">
            <img src="/src/components/component-venta/img-marcas/Asus.png" alt="Asus" />
        </a>
    </div>
    <div class="caja caja-m6">
        <!--NUMERO 6 SONY --->
        <img src="/src/components/component-venta/img-marcas/Sony.png" alt="Sony" />
    </div>
    <div class="caja caja-m7">
        <!--NUMERO 7 CANON --->
        <img src="/src/components/component-venta/img-marcas/Canon.png" alt="Canon" />
    </div>
    <div class="caja caja-m8">
        <!--NUMERO 8 MICROSOFT --->
        <img src="/src/components/component-venta/img-marcas/Microsoft.png" alt="Microsoft" />
    </div>
    <div class="caja caja-m9">
        <!--NUMERO 9 LENOVO --->
        <a href="/LENOVO/lenovo-2.html">
            <img src="/src/components/component-venta/img-marcas/Lenovo.png" alt="Lenovo" />
        </a>
    </div>
    <div class="caja caja-m10">
        <!--NUMERO 10 HISENSE --->
        <img src="/src/components/component-venta/img-marcas/Hisense.png" alt="Hisense" />
    </div>
    <div class="caja caja-m11">
        <!--NUMERO 11 LOGITECH --->
        <img src="/src/components/component-venta/img-marcas/Logitech.png" alt="Logitech" />
    </div>
    <div class="caja caja-m12">
        <!--NUMERO 12 TP-LINK --->
        <img src="/src/components/component-venta/img-marcas/TPlink.png" alt="TP-Link" />
    </div>
    <div class="caja caja-m13">
        <!--NUMERO 13 ACER --->
        <img src="/src/components/component-venta/img-marcas/Acer.png" alt="Acer" />
    </div>
    <div class="caja caja-m14">
        <!--NUMERO 14 BROTHER --->
        <img src="/src/components/component-venta/img-marcas/brother.png" alt="Brother" />
    </div>
    <div class="caja caja-m15">
        <!--NUMERO 15 SAMSUNG --->
        <img src="/src/components/component-venta/img-marcas/Samsung.png" alt="Samsung" />
    </div>
</div>
<style>
    * {
        font-family: Montserrat, sans-serif;
    }

    .marcas {
        text-align: center;
    }

    .marcas-1 {
        margin-inline: 10%;
    }

    .marcas h2 {
        color: blue;
        font-weight: bold;
    }

    .grid-layout {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 6%;
        background-color: darkblue;
        border-radius: 0.7em;
        gap: 10px;
        text-align: center;
    }

    .grid-layout .caja {
        flex-grow: 1;
    }

    .grid-layout img {
        width: 250px;
        height: 250px;
        border-radius: 13px;
        transition: transform 0.3s, background-color 0.3s;
     
    }

    .grid-layout img:hover {
        transform: scale(1.2);
        background-color: #000;
    }

    .grid-layout .caja-m1 img:hover,
    .grid-layout .caja-m2 img:hover,
    .grid-layout .caja-m3 img:hover,
    .grid-layout .caja-m5 img:hover,
    .grid-layout .caja-m9 img:hover {
        background-color: #02a80f;
    }
</style>
