<!------------------------ Marcas Economicsales -------------------------------------------><!-- <button id="toggleVisibility">Toggle Visibility</button> -->
<div class="marcas">
    <h2 class="marcas-1 fw-bold">
        CONTAMOS CON LAS MEJORES MARCAS DEL MERCADO
    </h2>
</div>
<div class="grid-layout">
    <div class="caja-m1">
        <!--NUMERO 1 DELL -->
        <a href="/DELL/marcas.html">
            <img src="/src/components/component-venta/img-marcas/Dell.png" /></a
        >
    </div>
    <div class="caja-m2">
        <!--NUMERO 2 APPLE -->
        <a href="/APPLE/apple.html">
            <img
                src="/src/components/component-venta/img-marcas/Apple.png"
            /></a
        >
    </div>
    <div class="caja-m3">
        <!--NUMERO 3 HP -->
        <a href="/HP/hp.html">
            <img src="/src/components/component-venta/img-marcas/HP.png" /></a
        >
    </div>
    <div class="caja m4">
        <!--NUMERO 4 EPSON -->
        <img src="/src/components/component-venta/img-marcas/Epson.png" />
    </div>
    <div class="caja-m5">
        <!--NUMERO 5 ASUS --->
        <a href="/ASUS/asus.html">
            <img src="/src/components/component-venta/img-marcas/Asus.png" /></a
        >
    </div>
    <div class="caja m6">
        <!--NUMERO 6 SONY --->
        <img src="/src/components/component-venta/img-marcas/Sony.png" />
    </div>
    <div class="caja m7">
        <!--NUMERO 7 CANON --->
        <img src="/src/components/component-venta/img-marcas/Canon.png" />
    </div>
    <div class="caja m8">
        <!--NUMERO 8 MICROSOFT --->
        <img src="/src/components/component-venta/img-marcas/Microsoft.png" />
    </div>
    <div class="caja-m9">
        <!--NUMERO 9 LENOVO --->
        <a href="/LENOVO/lenovo-2.html">
            <img
                src="/src/components/component-venta/img-marcas/Lenovo.png"
            /></a
        >
    </div>
    <div class="caja m10">
        <!--NUMERO 10 HISENSE --->
        <img src="/src/components/component-venta/img-marcas/Hisense.png" />
    </div>
    <div class="caja m11">
        <!--NUMERO 11 LOGITECH --->
        <img src="/src/components/component-venta/img-marcas/Logitech.png" />
    </div>
    <div class="caja m12">
        <!--NUMERO 12 TP-LINK --->
        <img src="/src/components/component-venta/img-marcas/TPlink.png" />
    </div>
    <div class="caja m13">
        <!--NUMERO 13 ACER --->
        <img src="/src/components/component-venta/img-marcas/Acer.png" />
    </div>
    <div class="caja m14">
        <!--NUMERO 14 BROTHER --->
        <img src="/src/components/component-venta/img-marcas/brother.png" />
    </div>
    <div class="caja m15">
        <!--NUMERO 15 SAMSUNG --->
        <img src="/src/components/component-venta/img-marcas/Samsung.png" />
    </div>
</div>
<style>
    *{
        font-family: montserrat;
    }
    .marcas{
        text-align: center;
    }
    .marcas h2 {
        /*color: #2486df;*/
        color: blue;
        font-weight: bold;
    }
    .grid-layout {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 6%;
        background-color: darkblue;
        border-radius: 0.7em;
    }
    .grid-layout img:hover {
        transform: scale(1.2);
        background-color: #000000;
    }
    .grid-layout .caja-m3 img:hover {
        transform: scale(1.2);
        background-color: #02a80f;
    }
    .grid-layout .caja-m2 img:hover {
        transform: scale(1.2);
        background-color: #02a80f;
    }
    .grid-layout .caja-m1 img:hover {
        transform: scale(1.2);
        background-color: #02a80f;
    }
    .grid-layout .caja-m9 img:hover {
        transform: scale(1.2);
        background-color: #02a80f;
    }
    .grid-layout .caja-m5 img:hover {
        transform: scale(1.2);
        background-color: #02a80f;
    }

    .caja {
        flex-grow: 1;

    }
    .caja-m1 .caja-m2 .caja-m3 .caja-m9 {
        flex-grow: 1;
    }
    .marcas-1 {
        text-shadow: 2px 2px 0 rgb(0, 0, 0);
    }
    img {
        /*background-color: rgb(32, 178, 100);*/
        /*background-color: rgb(0, 162, 255);*/
        width: 250px;
        height: 250px;
        border-radius: 13px;
    }
</style>
