<!---------------------------- Proceso de compra --------------------------------------------->

<!--<div class="contenedorflipcards">-->
<!-- 
<div class="grid2">
    <div class="cartita">
        <div class="frontal"></div>
        <div class="backtras">
            <p>
                <b>Solicitud de Cotizaci贸n:</b><br /><br /> Env铆anos por correo lo
                que buscas <br />
                y sus especificaciones <br />o en todo caso, <br />tus
                necesidades por cubrir <br />
                tus objetivos y presupuesto <br /> para nosotros proponerte <br
                /> una soluci贸n 
            </p>
        </div>
    </div>
    <!------------------------------------- CARTA 2 ----------------------------------------------
    <div class="cartita">
        <div class="frontal2"></div>
        <div class="backtras2">
            <p><b>Elaboraci贸n de cotizaci贸n:</b></p>
        </div> Recibimos tu solicitud y
    </div>
    elaboramos tu cotizaci贸n. Este proceso tiene una duraci贸n de 24hrs en caso de
    tomar m谩s tiempo, se te informar谩. En esta etapa se har谩n todos los ajustes y
    cambios en la cotizaci贸n en caso de ser necesarios 

    <!------------------------------------- CARTA 3 ----------------------------------------------
    <div class="cartita">
        <div class="frontal3"></div>
        <div class="backtras3">
            <p><b>Pago y facturaci贸n:</b></p>
        </div> Una vez aprobada la cotizaci贸n, se te pedir谩 la constancia de situaci贸n
        fiscal de tu empresa para poder facturarte y tambi茅n se te proporcionar谩n
        nuestros datos bancarios para que puedas realizar el pago 
    </div>
</div>
<!------------------------------------- CARTA 4 ----------------------------------------------
<div class="cartita4">
    <div class="frontal4"></div>
    <div class="backtras4">
        <p><b>Entrega:</b></p>
    </div> Se acordar谩 la fecha de entrega, la cual, es gratuita y personalizada,
    por lo que personalmente te haremos llegar tus productos hasta la puerta de tus
    oficinas o del lugar que nos indiques 
</div>

<!------------------------------------- CARTA 5 ----------------------------------------------
<div class="cartita5">
    <div class="frontal5"></div>
    <div class="backtras5">
        <p><b>Postventa:</b></p>
    </div> Mantendremos contacto para matender cualquier duda, aclaraci贸n o incluso
    una nueva solicitud de cotizaci贸n que te pueda surgir.
</div>
-->
  <!---------------------------- Proceso de compra --------------------------------------------->
  <div class="procesocompra">
    <h2 class="proceso-1 fw-bold">NUESTRO PROCESO DE COMPRA</h2>
</div>
<!--<div class="contenedorflipcards">-->
<div class="grid2">
    <div class="cartita">
        <div class="frontal"></div>
        <div class="backtras">
            <p><b>Solicitud de Cotizaci贸n:</b><br><br> Env铆anos por correo lo que buscas <br>
                y sus especificaciones <br>o en todo caso, <br>tus necesidades por cubrir <br>
                tus objetivos y presupuesto <br> para nosotros <strong>proponerte <br> una soluci贸n</strong> </p>
        </div>
    </div>
    <!------------------------------------- CARTA 2 ----------------------------------------------->
    <div class="cartita">
        <div class="frontal2"></div>
        <div class="backtras2">
            <p><b>Elaboraci贸n de cotizaci贸n:</b> </br></br> Recibimos tu solicitud y </br>
                elaboramos tu cotizaci贸n. </br> Este proceso tiene una duraci贸n de </br>
                <strong>24hrs </strong>en caso de tomar m谩s tiempo, </br> se te informar谩. </br>
                En esta etapa se har谩n todos los </br><strong>ajustes y cambios en la cotizaci贸n</strong> en </br>
                caso de ser necesarios </p>
        </div>
    </div>
    <!------------------------------------- CARTA 3 ----------------------------------------------->
    <div class="cartita">
        <div class="frontal3"></div>
        <div class="backtras3">
            <p><b>Pago y facturaci贸n:</b> </br> </br> Una vez aprobada la cotizaci贸n, </br>
                se te pedir谩 la <strong>constancia de situaci贸n</strong></br> fiscal de tu empresa para poder</br>
                facturarte </br> y tambi茅n se te proporcionar谩n </br>
                <strong>nuestros datos bancarios </strong>para que </br> puedas realizar el pago </p>
        </div>
    </div>
    <!------------------------------------- CARTA 4 ----------------------------------------------->
    <div class="cartita4">
        <div class="frontal4"></div>
        <div class="backtras4">
            <p><b>Entrega:</b> </br> </br> Se acordar谩 la <strong>fecha de entrega</strong>, la cual, <strong>es gratuita </br>
                y personalizada</strong>, por lo que personalmente </br>
                te haremos llegar tus productos hasta la puerta de tus oficinas </br>
                o del lugar que nos indiques </p>
        </div>
    </div>
    <!------------------------------------- CARTA 5 ----------------------------------------------->
    <div class="cartita5">
        <div class="frontal5"></div>
        <div class="backtras5">
            <p><b>Postventa:</b></br> </br> Mantendremos contacto para </br>
                matender <strong>cualquier duda, aclaraci贸n </br> o incluso una nueva solicitud de </br>
                cotizaci贸n </strong>que te pueda surgir.</p>
        </div>
    </div>
</div>
<style>
    h2 {
        color: blue;
        font-weight: bold;
        text-align: center;
        font-family: montserrat;
        margin: 1em;
    }
    /*---------------------FLIPCARDS-----------------*/
    .grid2 {
        /*display:grid;
  grid-template-columns: 33% 33% 33%;*/
        display: flex;
        flex-flow: row wrap;
        background-color: none;
        padding: 15px;
        margin: auto;
        width: 90%;
        visibility: visible;
        background-color: rgb(0, 0, 118);
        border-radius: 1em;
    }
    .grid-3 {
        display: flex;
        flex-flow: row wrap;
        margin: 2em;
        justify-content: center;
    }

    .cartita {
        position: relative;
        width: 320px;
        height: 320px;
        /* margin-top: 30px; /** SEPARACION/
   margin-bottom: 30px;*/
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 3%;
    
        /*flex-grow: 1;*/
    }

    .cartita > div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: 0.75s;
        border-radius: 1em;
    }

    .cartita .frontal {
        background-image: url("/src/components/component-venta/img-proceso/proceso1.png");
        transform: perspective(500px) rotateY(0deg);
    }

    .cartita .backtras {
        background-color: lightgreen;
        transform: perspective(500px) rotateY(180deg);
        text-align: center;
    }

    .cartita:hover .frontal {
        transform: perspective(500px) rotateY(180deg);
    }

    .cartita:hover .backtras {
        transform: perspective(500px) rotateY(360deg);
    }

    .cartita .frontal2 {
        background-image: url("/src/components/component-venta/img-proceso/proceso2.png");
        transform: perspective(500px) rotateY(0deg);
    }

    .cartita .backtras2 {
        background-color: lightgreen;
        transform: perspective(500px) rotateY(180deg);
        text-align: center;
        font-size: 15px;
        font-family: montserrat;
    }

    .cartita:hover .frontal2 {
        transform: perspective(500px) rotateY(180deg);
    }

    .cartita:hover .backtras2 {
        transform: perspective(500px) rotateY(360deg);
    }

    .cartita .frontal3 {
        background-image: url("/src/components/component-venta/img-proceso/proceso3.png");
        transform: perspective(500px) rotateY(0deg);
    }

    .cartita .backtras3 {
        background-color: lightgreen;
        transform: perspective(500px) rotateY(180deg);
        text-align: center;
        font-size: 15px;
        font-family: montserrat;
        padding: 1em;
    }

    .cartita:hover .frontal3 {
        transform: perspective(500px) rotateY(180deg);
    }

    .cartita:hover .backtras3 {
        transform: perspective(500px) rotateY(360deg);
    }

    .cartita4 {
        position: relative;
        width: 640px;
        height: 320px;
        margin-left: 5%;
        margin-top: 10px;
        /*grid-column: 1/2;*/
        /* flex-grow: 1;*/
    }

    .cartita4 > div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: 0.75s;
        border-radius: 1em;
        /*margin-top: 30px; PARA SEPARAR DE ARRIBA*/
    }

    .cartita4 .frontal4 {
        background-image: url("/src/components/component-venta/img-proceso/proceso4.png");
        transform: perspective(500px) rotateY(0deg);
    }

    @media (max-width: 790px) {
        .cartita4 {
            width: 320px;
            height: 320px;
        }
        .cartita4 .frontal4 {
            background-image: url("/src/components/component-venta/img-proceso/350px.png");
        }
        .cartita4 .backtras4 {
            font-size: 15px;
        }
    }
    .cartita4 .backtras4 {
        background-color: lightgreen;
        transform: perspective(500px) rotateY(180deg);
        text-align: center;
        font-size: 15px;
        font-family: montserrat;
        padding: 1em;
    }

    .cartita4:hover .frontal4 {
        transform: perspective(500px) rotateY(180deg);
    }

    .cartita4:hover .backtras4 {
        transform: perspective(500px) rotateY(360deg);
    }

    .cartita5 {
        position: relative;
        width: 320px;
        height: 320px;
        margin-left: 5%;
        margin-bottom: 15px;
        margin-top: 10px;
        /* margin-top: 30px;  SEPARACION*/
        /* grid-column: 3;
   grid-row: 2;*/
    }

    .cartita5 > div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: 0.75s;
        border-radius: 1em;
    }

    .cartita5 .frontal5 {
        background-image: url("/src/components/component-venta/img-proceso/proceso5.png");
        transform: perspective(500px) rotateY(0deg);
    }

    .cartita5 .backtras5 {
        background-color: lightgreen;
        transform: perspective(500px) rotateY(180deg);
        text-align: center;
        font-size: 15px;
        font-family: montserrat;
        padding: 1em;
    }

    .cartita5:hover .frontal5 {
        transform: perspective(500px) rotateY(180deg);
    }

    .cartita5:hover .backtras5 {
        transform: perspective(500px) rotateY(360deg);
    }

    /* nueva */

    /*----------------------FLIPCARDS ---------------*/
</style>
