<div class="grid-3">
    <div class="toggle m-3">
        <button
            class="btn btn-info fw-bold btn-lg p-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapse1"
        >
            CÓMPUTO
        </button>
        <div id="collapse1" class="collapse mt-2">
            <p class="h5 fw-bold">
                PC all in one <br /><br />
                Tablets <br /><br />
                Monitores <br /><br />
                Servidores<br /><br />
                Componentes <br /><br />
                No-Breaks <br /><br />
                Impresoras <br /><br />
                Laptops
            </p>
        </div>
    </div>
    <!----------------------- Toogle list 2 elemento ------------------------>
    <div class="toogle2 m-3">
        <button
            class="btn btn-info fw-bold btn-lg p-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapse2"
        >
            DISPOSITIVOS
        </button>
        <div id="collapse2" class="collapse mt-3">
            <p class="h5 fw-bold">
                Barras de Sonido <br /><br />
                Reproductores <br />de audio <br /><br />
                Altavoces <br /><br />
                Perifericos Gaming<br /><br />
                Proyectores <br /><br />
                Smart TV <br /><br />
                Camaras de<br /> video vigilancia <br /><br />
            </p>
        </div>
    </div>
    <!----------- Toggle list 3 elemento   --------------->
    <div class="toogle3 m-3">
        <button
            class="btn btn-info fw-bold btn-lg p-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapse3"
        >
            VENTA DE CONSUMIBLES
        </button>
        <div id="collapse3" class="collapse mt-3">
            <p class="h5 fw-bold">
                Toners <br /><br />
                Tintas <br /><br />
                Cartuchos <br /><br />
                Cintas <br /><br />
            </p>
        </div>
    </div>
    <!---------------- toogle list 4 elemento  --------------------->
    <div class="toogle4 m-3">
        <button
            class="btn btn-info fw-bold btn-lg p-3"
            data-bs-toggle="collapse"
            data-bs-target="#collapse4"
        >
            ALMACENAMIENTO Y ACCESORIOS
        </button>
        <div id="collapse4" class="collapse mt-3">
            <p class="h5 fw-bold">
                Memorias USB <br /><br />
                Discos Duros <br /><br />
                SSD <br /><br />
                Adaptadores de video<br /> (audio y video) <br /><br />
                Cables <br />thunderbolt lightning<br /><br />
                Mochilas<br /><br />
                Docking Station<br /><br />
            </p>
        </div>
    </div>
</div>
<style>
    *{
        font-family: montserrat;
    }
    .grid-3 {
        display: flex;
        flex-flow: row wrap;
        margin: 2em;
        justify-content: center;
    }
    h5{
        color: rgb(8, 0, 33);
    }
</style>
