---
import CarruselVenta from "../components/component-venta/carrousel-venta.astro";
import NavFija from "../components/navFija.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import ToggleBtn from "../components/component-venta/toggle.astro";
import Marcas from "../components/component-venta/marcas.astro";
import Clientes from "../components/component-venta/clientes.astro";
import ProcesoCompra from "../components/component-venta/proceso.astro";
import Dropdown from "../components/Dropdown.astro";
import DarkMode from "../components/BotonDark.astro";
import Estadisticas from "../components/component-venta/estadisticas.astro";
---

<Layout title="ECONOMIC SALES DE MEXICO SA DE CV">
	<!-- MENU -->
	<div class="barra">
		<img src="/src/pages/img/_Logo-pro.png">
	</div>
	<div class="nav-fija">
		<NavFija />
	</div>
	<div class="nav-pop">
		<Dropdown />
	</div>
	<!-- MENU -->
	<div class="boton-dark">
		<DarkMode />
	</div>

	<!-- <header>
		<h1>VENTA DE EQUIPO DE COMPUTO</h1>
	</header>
	-->
	<CarruselVenta />
    <ToggleBtn /> 
	<Marcas />
	<Clientes />
	<Estadisticas />
	<ProcesoCompra />
	<Footer />
</Layout>
<style>
	 *{
        margin: 0px;
        padding: 0px
    }
	/*header h1 {
		text-align: right;
		font-size: 4em;
		color: aliceblue;
		margin-top: 7%;
		/*background: rgb(66, 66, 249);
		background: linear-gradient(
			90deg,
			rgb(66, 66, 249) 0%,
			rgb(5, 242, 255) 100%
		);
		margin: .5em;
		padding: 1em;
		border-radius: 10px;
		font-weight: bold;
		font-family: montserrat;
	}
		*/
	.barra{
       display: none;
        width: 100%;
        background-color: rgb(0, 0, 175);
        height: 160px;
        text-align: center;
        padding-top: 1em;
    }
	
    .barra img{
        max-width: 95%;
        height:80%;
    }
	.nav-pop {
        visibility: hidden;
    }
	@media (max-width: 750px) {
        .nav-fija {
            display: none;
        }
        .nav-pop {
            visibility: visible;
            width: 100%;
            background-color: rgba(0, 58, 159, 0.567);
        }
        .navs {
            visibility: visible;
        }
        .barra{
            display:block;
        }
    }
	@media (max-width:515px){
		header h1{
			font-size: 2em;
			
		}
		header{
			text-align: center;
		}
	}

	@media(max-width:400px){
        header h1{
            font-size: 2em;
            margin-top: 2em;
        }
    }

</style>
