---
import DarkMode from "../components/BotonDark.astro";
---
<!---------------------------------- GRID CARTAS -------------------------------------------------->
<body>
<div id="grid-cartas">
    <div class="carta">
        <a href="/BLOG/blog.html">
            <p class="iconocarta">
                <img src="/img-cartas/web-op.png" alt="icono web">
            </p>
            <h3 class="categoria"><br>BLOG</h3>
            <p class="descripcion"></p>
        </a>
    </div> 
<a href="/venta">
    <div class="carta">
       
            <p class="iconocarta">
                <img src="/img-cartas/venta-op.png" alt="icono computadora">
            </p>
            <h3 class="categoria">VENTA DE EQUIPO</h3>
            <p class="descripcion"></p>
    </div>
 </a>
<a href="/design">
    <div class="carta">
        <p class="iconocarta"><img src="/img-cartas/design-op.png" alt="icono pinturas">
        </p>
        <h3 class="categoria">DISEÑO</h3>
        <p class="descripcion">Diseño logotipo <br> Rebranding</p>
    </div>
</a>
<a href="/contacto">
    <div class="carta">
            <p class="iconocarta"><img src="/img-cartas/contacto-op.png" alt="icono telefono">
            </p>
            <h3 class="categoria">CONTACTO</h3>
            <p class="descripcion">Medios de contacto y ubicación</p>
    </div>
</a>
    <div class="carta">
        <a href="/FAQ/faq.html">
            <p class="iconocarta">
                <img src="/img-cartas/Faq-op.png" alt="icono foco">
            </p>
            <h3 class="categoria">FAQ</h3>
            <p class="descripcion">Preguntas frecuentes </p>
        </a>
    </div>
</div>
</body>
<!-- 
<li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>-->
<style>
	/*.link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}*/
	#grid-cartas {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	place-items: center;
	overflow: hidden;
}
h3{
	font-family: montserrat;
	font-weight: 900;
	font-size: 1rem;
}
.carta {
	margin: 15px;
	/*width: 250px;
	height: 300px;
	border-radius: 999px;*/
	width: 165px;
	height: 165px;
	border-radius: 10em;
	border: 5px outset rgb(197, 197, 197);
	float: right;
	text-align: center;
	/*background-color: azure;*/
	background-color: gainsboro;
	overflow: hidden;
}
body.dark .carta{
	background-color: rgb(0, 0, 168);
}
body.dark a{
	color:whitesmoke;
}

.carta a {
	text-decoration: none;
}

.carta .categoria {
	margin-top: 0px;
	text-decoration: none;
}

.carta .descripcion {
	margin-top: 20px;
	line-height: 30px;
	font-size: .8rem;
}

.carta:hover {
	background-color: rgb(40, 54, 201);
	transform: scale(1.1);
	transition: all 0.3s;
}
body.dark .carta:hover{
	background-color: gainsboro;
}

.carta:hover .descripcion {
	color: white;
	font-size: 10px;
}
body.dark .carta:hover .descripcion{
	color: rgb(0, 0, 168);
}
.carta:hover .categoria {
	color: whitesmoke;
}
body.dark .carta:hover .categoria {
	color: rgb(0, 0, 168);
}

.iconocarta img {
	padding: 0px;
	float: center;
	width: 150px;
	height: 150px;
}

.carta:hover .iconocarta {
	animation: showicon 300ms linear;
}

@keyframes showicon {
	from {
		transform: translatey(-200%);
	}

	to {
		transform: translatey(0%);
	}
}

</style>
