<footer class="footer">
    <div class="grupo1"> <!--COLOCAR CALSES .CLASE* NUMERO DE CLASES IGUALES EJEMPL .CLASE*3-->
        <div class="box num1">
            <h3 class="fw-bold">Vendemos tecnología,<br>diseñamos alternativas<br>solucionamos problemas.<br></h3>
            <a href="/POLITICA DE PRIVACIDAD/politica.html" class="link-underline">
                <p class="politica text-warning">Política de privacidad<br></p>
            </a>
            <p class="texto2023">2023 ECONOMIC SALES DE MÉXICO, SA DE CV GROUP. <br>Empresa responsable
                con el medio ambiente incorporada en CDMX bajo el número 132,217.<br> Registrada en el primer
                piso del edificio de la Cámara de Comercio, Paseo de la Reforma #42, Juárez, Ciudad de
                México.</p>
        </div>
        <div class="box">
            <h2><b>NUESTRAS REDES</b></h2>
            <div class="logos">
                <div class="minibox"><a href="https://www.facebook.com/EconomicSalesDeMexicoSaDeCv?locale=es_LA"><img
                            src="img/facebooklogo.png" alt="logo facebook" , class="max"></a></div>
                <div class="minibox"><a
                        href="https://www.instagram.com/economicsalesmx/?igshid=MzRlODBiNWFlZA%3D%3D"><img
                            src="img/instagramlogo.png" alt="logo instagram" , class="max"></a></div>
                <div class="minibox"><a
                        href="https://www.linkedin.com/company/economic-sales-de-m%C3%A9xico-sa-de-cv/mycompany/?viewAsMember=true"><img
                            src="img/linkedinlogo.png" alt="logo linkedin" , class="max"></a></div>
            </div>
        </div>
        <div class="box num3">
            <figure>
                <a href="index.html">
                    <h4 class="fw-bold">ECONOMIC SALES DE MÉXICO</h4>
                </a>
            </figure>
        </div>
    </div>
</footer>
<style>
.footer {
    position: relative;
	width: 100%;
	background-color: darkblue;
	margin-top: 25px;
}

.footer .grupo1 {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 10px 0px;
}

.footer .grupo1 .box figure {
	/*width: 100%;
	height: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .grupo1 .box figure img {
	width: 160%;
}

.footer .box h2 {
	font-size: 25px;
	font-family: montserrat;
	color: aliceblue;
	margin-top: 25px;
}

.footer .box h3 {
	font-size: 20px;
	font-family: montserrat;
	color: aliceblue;
	margin-top: 25px;
}

.footer .box h4 {
	font-size: 45px;
	font-family: montserrat;
	color: aliceblue;
	text-align: end;
	margin-left: -48%;
}

.footer .box p {
	font-size: 11px;
	font-family: montserrat;
	color: aliceblue;
	text-align: justify;
	margin-top: 25px;
}

.footer .box a {
	box-sizing: content-box;
	width: 200px;
	height: 200px;
	text-decoration: none;
}

.footer .grupo1 .num1 .texto2023 {
	text-align: justify;
}

.footer .grupo1 .num1 {
	margin-left: 10%;
}

.footer .grupo1 .num1 .politica {
	text-decoration: underline;
}

.logos {
	width: 350px;
	height: 150px;
	margin-top: 25px;
}

.minibox {
	width: 100px;
	float: left;
	height: 100px;
}

.max {
	max-width: 80px;
	height: 80px;
}
</style>