

<!------------------------------INICIO SCROLL IMAGENES ----------------------------->
<div class="boxbox">
    <div class="slider">
        <div class="slider-tracks">
            <div class="slidex">
                <img src="/src/components/img-slider/entrega2-1.jpg" alt="Entrega 1" width="250px" height="200px" />
                <!--IMAGEN 1    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega3.jpg" alt="Entrega 2">
                <!--IMAGEN 2    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega4.jpg" alt="Entrega 3">
                <!--IMAGEN 3    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega5.jpg" alt="Entrega 4">
                <!--IMAGEN 4    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega6.jpg" alt="Entrega 5">
                <!--IMAGEN 5    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/ESIAproyectores.jpeg" alt="Entrega 6">
                <!--IMAGEN 6    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/thinkpadX1mattilda.jpg" alt="Entrega 7">
                <!--IMAGEN 7    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega9.jpg" alt="Entrega 8">
                <!--IMAGEN 8    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega10.jpg" alt="Entrega 9">
                <!--IMAGEN 9    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega11.jpg" alt="Entrega 10">
                <!--IMAGEN 10    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega12.jpg" alt="Entrega 11">
                <!--IMAGEN 11    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega15.jpg" alt="Entrega 12">
                <!--IMAGEN 12    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega17.jpg" alt="Entrega 13">
                <!--IMAGEN 13    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega18.jpg" alt="Entrega 14">
                <!--IMAGEN 14  ------>
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega19.jpg" alt="Entrega 15">
                <!--IMAGEN 15    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega22.jpg" alt="Entrega 16">
                <!--IMAGEN 16    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega24.jpg" alt="Entrega 17">
                <!--IMAGEN 17    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega27.jpg" alt="Entrega 18">
                <!--IMAGEN 18    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega30.jpg" alt="Entrega 19">
                <!--IMAGEN 19    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria.jpeg" alt="Entrega 20">
                <!--IMAGEN 20    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria2.jpeg" alt="Entrega 19">
                <!--IMAGEN 21   -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria3.jpeg" alt="Entrega 19">
                <!--IMAGEN 22    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria4.jpeg" alt="Entrega 19">
                <!--IMAGEN 23    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/matilda3.jpeg" alt="Entrega 19">
                <!--IMAGEN 24    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/matilda4.jpeg" alt="Entrega 19">
                <!--IMAGEN 25    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretariacompu.jpeg" alt="Entrega 19">
                <!--IMAGEN 26    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega34.jpg" alt="Entrega 19">
                <!--IMAGEN 27    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega37.jpg" alt="Entrega 19">
                <!--IMAGEN 28    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega38.jpg" alt="Entrega 19">
                <!--IMAGEN 29    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega33.jpg" alt="Entrega 19">
                <!--IMAGEN 30    -->
            </div>

            <!---------------SEGUNDA VUELTA X2--------------------->
            <div class="slidex">
                <img src="/src/components/img-slider/entrega2-1.jpg" alt="Entrega 1" width="250px" height="200px" />
                <!--IMAGEN 1    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega3.jpg" alt="Entrega 2">
                <!--IMAGEN 2    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega4.jpg" alt="Entrega 3">
                <!--IMAGEN 3    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega5.jpg" alt="Entrega 4">
                <!--IMAGEN 4    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega6.jpg" alt="Entrega 5">
                <!--IMAGEN 5    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/ESIAproyectores.jpeg" alt="Entrega 6">
                <!--IMAGEN 6    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/thinkpadX1mattilda.jpg" alt="Entrega 7">
                <!--IMAGEN 7    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega9.jpg" alt="Entrega 8">
                <!--IMAGEN 8    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega10.jpg" alt="Entrega 9">
                <!--IMAGEN 9    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega11.jpg" alt="Entrega 10">
                <!--IMAGEN 10    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega12.jpg" alt="Entrega 11">
                <!--IMAGEN 11    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega15.jpg" alt="Entrega 12">
                <!--IMAGEN 12    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega17.jpg" alt="Entrega 13">
                <!--IMAGEN 13    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega18.jpg" alt="Entrega 14">
                <!--IMAGEN 14  ------>
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega19.jpg" alt="Entrega 15">
                <!--IMAGEN 15    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega22.jpg" alt="Entrega 16">
                <!--IMAGEN 16    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega24.jpg" alt="Entrega 17">
                <!--IMAGEN 17    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega27.jpg" alt="Entrega 18">
                <!--IMAGEN 18    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/entrega30.jpg" alt="Entrega 19">
                <!--IMAGEN 19    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria.jpeg" alt="Entrega 20">
                <!--IMAGEN 20    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria2.jpeg" alt="Entrega 19">
                <!--IMAGEN 21   -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria3.jpeg" alt="Entrega 19">
                <!--IMAGEN 22    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretaria4.jpeg" alt="Entrega 19">
                <!--IMAGEN 23    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/matilda3.jpeg" alt="Entrega 19">
                <!--IMAGEN 24    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/matilda4.jpeg" alt="Entrega 19">
                <!--IMAGEN 25    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/IPNsecretariacompu.jpeg" alt="Entrega 19">
                <!--IMAGEN 26    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega34.jpg" alt="Entrega 19">
                <!--IMAGEN 27    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega37.jpg" alt="Entrega 19">
                <!--IMAGEN 28    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega38.jpg" alt="Entrega 19">
                <!--IMAGEN 29    -->
            </div>
            <div class="slidex">
                <img src="/src/components/img-slider/Entrega33.jpg" alt="Entrega 19">
                <!--IMAGEN 30    -->
            </div>
        </div>
    </div>
</div>
<style>
   /* 
.boxbox {
	min-height: 55vh;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slider {
	z-index: -100;
	height: 250px;
	margin: auto;
	position: absolute;
	width: 90%;
	display: grid;
	place-items: center;
}

.slider-tracks {
	display: flex;
	width: 100%;
	animation: scroll 40s linear infinite;
}

.slider-tracks:hover {
	animation-play-state: paused;
	transform: scale(1.2);
}

@keyframes scroll {
	0% {
		transform: translatex(0);
	}

	100% {
		transform: translatex(calc(-250px * 15));
	}
}

.slide {
	height: 200px;
	width: 250px;
	display: flex;
	align-items: center;
	padding: 15px;
}

.slide img {
	height: 290px;
	width: 220px;
	border-radius: .5em;
}

img {
	width: 100%;
	transition: transforms 1s;
}

img:hover {
	transform: translatez(10px);
}
*/
/*
.boxbox {
	min-height: 55vh;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.slider {
	z-index: -100;
	height: 250px;
	margin: auto;
	position: absolute;
	width: 90%;
	display: grid;
	place-items: center;
}

.slider-tracks {
	display: flex;
	width: calc(250px * 30); /* 15 images x 2 (for the infinite effect) 
	animation: scroll 40s linear infinite;
}

.slider-tracks:hover {
	animation-play-state: paused;
	transform: scale(1.2);
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
	transform: translateX(calc(-250px * 15)); /* Adjust based on the number of unique images *
	}
}

.slide {
	height: 200px;
	width: 250px;
	display: flex;
	align-items: center;
	padding: 15px;
}

.slide img {
	height: 290px;
	width: 220px;
	border-radius: .5em;
}

img {
	width: 100%;
	transition: transform 1s;
}

img:hover {
	transform: translateZ(10px);
}*/
html, body {
    overflow-x: hidden; /* Evita el desplazamiento horizontal en la página */
    margin: 0;
    padding: 0;
}

.boxbox {
    min-height: 55vh;
   /* display: grid;*/
    place-items: center;
    overflow: hidden;
    width: 100%;
}

.slider {
    z-index: -100;
    height: 360px;
    margin: auto;
    width: 100%; /* Cambiado para asegurar que el slider no exceda el ancho de la pantalla */
    display: grid;
    place-items: center;
    overflow: hidden;
 
}

.slider-tracks {
    display: flex;
    width: calc(250px * 30); /* 15 imágenes x 2 (para el efecto infinito) */
    animation: scroll 45s linear infinite;
    transition: transform 1s;
}

.slider-tracks:hover {
    animation-play-state: paused;
    transform: scale(1.2);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 15)); /* Ajustar según el número de imágenes únicas */
    }
}

.slidex {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slidex img {
    height: 290px;
    width: 230px;
    border-radius: .5em;
    transition: transform .4s;
}
.slidex img:hover{
    transform: scale(1.2);
}
img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(10px);
}
</style>